/* navbar */
.navbar{
    background-color: #60B6FF;
    padding: 1%;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    
    
    line-height: 1.5;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 900;
}

/* carousel classes */
#carouselExampleIndicators {
    background-color:  #23DBEA;
    color:#fff;   
}

.carousel-item{
    padding-top: 3.5%;
    padding-bottom: 5%;


}
.title{
    
        color: red;
        text-decoration: none;
        text-transform: uppercase;
    
}

/* footer */
.fa-brands{
    padding-right: 1%;
}
/* Provid info section */
#dietplan{
    background-color: #24EDDC;
}
.input{
    background-color: #23DBEA;
    border: #60B6FF;
}
/* about */
.w3-container{
    background-color: #24FFCE;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}
/* contact team */
.con{
    background-color: #2EEFAE;
    padding: 4%;
}
.contactbtn{
    background-color: #23DBEA;
} 
.card{
    background-color: #2EEFAE;
    padding: 4%;
    border: none;
}
.btn-primary{
    background-color: #23DBEA;
}
/* others */
.food{
    border-radius: 10%;
}
.headings{
    text-align: center;
    padding-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}
.headingsfit{
    background-color: #42C9F5;
    text-align: center;
    
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}
